<section id="lead" class="bg-blue-600 px-8 py-12">
  <div class="container max-w-2xl mx-auto flex flex-col md:flex-row items-center justify-center gap-6 md:gap-12">
    <img class="rounded-full w-48" src="/assets/images/profile.jpg" />
    <div class="text-center md:text-left">
      <h1 class="font-bold font-heading tracking-wide text-6xl text-blue-50 mb-6">Dan Carter</h1>
      <p class="font-body text-3xl text-gray-200 mb-2">Christian, husband, programmer, gooner.</p>
      <p class="font-body text-3xl text-gray-200">Not a rugby player.</p>
    </div>
  </div>
</section>