---
layout: default
title: Dan Carter
---

{% include banner.html %}

<div class="container my-4">
    <p class="lead text-center">Hi, I'm Dan. I'm a Christian software developer with a fondness for Arsenal FC and
        banoffee pie.</p>
</div>

<div class="container my-4">
    <div class="row">
        {% for item in site.data.frontpage-items %}
        <div class="col-md">
            <div class="card my-2 my-md-0">
                <div class="card-body">
                    <h3 class="card-title">{{ item.title }}</h3>
                    <p class="card-text">{{ item.description }}</p>
                    <a class="card-link" href="{{ item.link }}">Visit &raquo;</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>