#projects .project {
  margin-top: 24px;
  margin-bottom: 24px;

  a {
    text-decoration: none;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 54px;
    font-weight: bold;
  }
}