header.banner{
    height: 25vh;
    min-height: 300px;
    background: url('../images/banner.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}